:root {
  --cols: 10;
  --rows: 16;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  border: 1px solid white;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--cols), 40px);
  grid-template-rows: repeat(var(--rows), 40px);
}

.cell {
  border: 1px solid white;
}

.filled {
  background-color: whitesmoke;
}

.stick {
  background-color: red;
}

.not-visible {
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* display: none; */
}

.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  background-color: #242424;
  border: 1px solid white;
}

.overlay h1 {
  z-index: 1;
  grid-row: 5 / 9;
  grid-column: 3 / 9;
  text-align: center;
  margin: 10px;
}

.btn {
  color: #242424;
  background-color: whitesmoke;
  border: none;
  font-size: 20px;
  padding: 8px;
}
